@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

section{
    padding: 0px 15px;
    height: 94vh;
    width: 85%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border:3px solid black;
}
#show-numbers{
    border: 3px solid black;
    border-radius: 10px;
    height: 13%;
    margin: 15px 0px;
}
#buttons{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    align-items: center
}
button{
    padding: 10px;
    height: 90px;
}