@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

header{
    height: 7vh;
    text-align: center;
}
header>h1{
    margin-top: 20px;
}

main{
    height: 87vh;
    display: grid;
    grid-template-rows: 5% 4fr 5%;
    grid-template-columns: 1fr 1fr;
}
#add{
    grid-area: 1/1/2/2;
    justify-self: center;
    align-self: center;
    
}
#botao{
    width: 30vw;
    height: 3vh;
    background-color:#481788;
    color: #cfcfcf;
}